.headline__content {
  padding-top: 7rem;
}

.headline__title {
  font-family: VremenaBold, sans-serif;
  font-weight: 900;
  /* stylelint-disable */
  font-size: clamp(2rem, 5.6vw, 5rem);
  line-height: clamp(2rem, 5.6vw, 5rem);
  /* stylelint-enable */
  text-transform: uppercase;
  max-width: 500px;
  margin-bottom: 1rem;
}

.headline__subtitle {
  /* stylelint-disable */
  font-size: clamp(1.4rem, 4.5vw, 2.5rem);
  line-height: clamp(1.4rem, 4.5vw, 2.5rem);
  /* stylelint-enable */
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media (min-width: 769px) {
  .headline__subtitle {
    margin-bottom: 1rem;
  }
}
